.dir{
  padding-left: 10px;

  &.open .dir_name{
    &:before{
      font-family: 'FontAwesome';
      content: '\f07b'; // fa-folder
      margin-right: 3px;
    }
  }
  &.close .dir_name{
    &:before{
      font-family: 'FontAwesome';
      content: '\f114'; // fa-folder-o
      margin-right: 3px;
    }
  }
}

.files{
  padding-left: 10px;
  li:before{
    font-family: 'FontAwesome';
    content: '\f016'; // fa-file-o
    margin-right: 3px;
  }
}
